TZ=Asia/Shanghai

MYSQL_PORT=3306
MYSQL_DATABASE=novel2script
MYSQL_ROOT_PASSWORD=change_me_mysql_root_password
MYSQL_APP_USERNAME=novel2script_app
MYSQL_APP_PASSWORD=change_me_mysql_app_password

REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password

ADMINER_PORT=8081
